@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif !important;
}
a {
    text-decoration: none;  
}
.bi-file-earmark-plus{
    color: white;
}
.table_item{
    text-align: center;
}

body{
    background-color: #e6e6e6 !important;
    position: relative;
    padding: 20px;
}
/* Header */
.header{
    width: 80%;
}
.header_name{
    font-size: 36px;
    margin: 0;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Table */
.main_table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.table{
    margin: 0;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    width: 80%;
}

/* Modal */

.modal{
    overflow: visible;
}
.modal-dialog{
    position: relative;
    top: 40%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}
.modal-body{
    display: flex !important;
    flex-direction: column !important;
    min-height: 200px;
    justify-content: space-between;
    align-items: center
}
.modal_input{
    margin-top: 20px;
    width: 80%;
    padding: 10px;
}
.modal_input:nth-child(1){
    margin-top: 0;
}
.show{
    display: block !important;
}
.chart{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
.cell{
    border-right-width: 1px;
    border-left-width: 1px;
}
.center{
    text-align: center;
    border: none;
    vertical-align: middle;
}
tr:hover input{
    background-color: #ECECEC;
}
.center:focus{
    outline: none;
}
.dropdown-menu{
    min-width: 1rem;
    min-height: 1rem;
}
canvas{
    margin: 0 auto;
}
td{
    border-color: rgb(222, 226, 230) !important;
}
tr{
    border-color: rgb(222, 226, 230) !important;
}
th{
    border-color: #E6E6E6 !important;
    border-bottom-width: 15px !important;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table td {
    border: none
}

.table tbody td:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.table tbody td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

#spacing-row {
    height: 10px
}

.bg-blue:hover {
    background-color: #3e64ff;
    color: #eee;
    cursor: pointer
}

.bg-blue:hover .fa-check,
.bg-blue:hover .fa-minus {
    background-color: #3e64ff;
    color: #eee
}

.table_wrapper{
    width: 80%;
}
ul{
    padding: 0 !important;
}
.notification{
    width: 80%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.invalid-feedback{
    display: block !important;
    text-align: center;
}
.valid-feedback{
    display: block !important;
    text-align: center;
}
.table tbody td:last-child {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.table tbody td:first-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.dots{
    font-size: 1.5rem;
}
.center{
    border: none
}